/* CUSTOM FONTS */
@font-face {
  font-family: 'Feijoa Medium';
  /* font-weight: 400*/
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local('Feijoa Medium'), url('fonts/Feijoa_Medium.woff2') format('woff2'), url('/fonts/Feijoa_Medium.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Quattrocento:700');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    background: white;
}

body.dark {
    background: black;
    color: white;
}

#story h1, #story h2 {
    text-align: center;
    font-family: "Quattrocento", Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

#story h1 {
    font-size: 30pt;
    margin-bottom: 10px;
}

#story h2 {
    font-size: 14pt;
    font-style: italic;
    font-family: sans-serif;
    font-weight: lighter;
    color: #BBB;
}

.dark h2 {
    color: #666;
}

.header {
    padding-top: 3em;
    padding-bottom: 3em;
}

h3.written-in-ink {
    font-size: 9pt;
    font-family: sans-serif;
    text-align: center;
    font-weight: 700;
    position: fixed;
    display: block;
    width: 100%;
    background: white;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    top: 0;
}

.dark h3.written-in-ink {
    background: black;
}

/*TEST THIS OUT ON iOS TO MAKE SURE COMMENTING IT OUT DOESNT BREAK IT*/

/* Seems necessary to make iframes work on itch.io on mobile iOS :-( */
.outerContainer {
    /* position: absolute; */ /* Re-enable this to fix the scroll distance */
    display: block;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.container {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 4em;
    background: white;
}

.dark .container {
    background: black;
}

.container p {
    /* Added to make text block narrower than images/video */
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/* Also added for text block and image width thing */
@media screen and (max-width: 800px) {
    p {
      width: 100%;
    }
  }

#story a {
    font-weight: 700;
    color: #b97c2c;
    font-family: sans-serif;
    transition: color 0.6s;
    text-decoration: none;
}

.dark a {
    color: #cc8f1a;
    transition: color 0.6s;
}

.dark a:hover {
    color: white;
}

strong {
    color: black;
    font-weight: bold;
}

.dark strong {
    color: white;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

video {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.container .hide {
    opacity: 0.0;
}

.container .invisible {
    display: none;
}

.container * {
    opacity: 1.0;
    transition: opacity 1.0s;
}

p.choice {
    text-align: center;
    line-height: 1.7em;
}

/* first choice */
:not(.choice) + .choice {
    padding-top: 1em;
}

/* p.choice a {
    font-size: 15pt;
} */

/* Built in class if you want to write:
     The End # CLASS: end
*/
.end {
    text-align: center;
    font-weight: bold;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dark .end {
    color: white;
}

/* CUSTOM */

body {
  background-color: #313941;
  color: #9b9b9b;
}

p {
  font-family: 'Feijoa Medium', Times, serif;
  font-size: 20px;
  line-height: 1.7em;
}

a:hover {
  color: #fff;
}

h1 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 45px;
  letter-spacing: 2px;
  margin: 0 auto;
  text-transform: uppercase;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-size: 32px;
  font-weight: lighter;
}

/*  Title area */
.masthead {
  background-color: #d8d8d8;
  max-width: 1200px;
  margin: auto;
  color: #9b9b9b;
  padding: 28px;
}

#nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:auto;
  justify-items: stretch;
  align-items: start;
  margin: 0 28px 0 28px;
}

#nav-container h2 {
  margin: 0;
}

#nav-container a {
  color: #9b9b9b;
  text-decoration: none;
}

#nav-container a:hover {
    color: white;
    transition: color 0.15s;
}

#nav-container h2:first-child {
  text-align: left;
}

#nav-container h2:last-child {
  text-align: right;
}

#title-illustration {
  display: flex;
  padding: 100px 40px;
}

#title-illustration svg {
  margin: auto;
}

#title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 28px;
}

#main-title {
  flex: 1;
  order: 1;
  max-width: 300px;
}

#subtitle {
  flex: 1;
  order: 0;
  max-width: 300px;
}

#by-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#by-line p {
  margin: 0 auto;
}

#by-line a {
  color: #fff;
}

#subtitle h3 {
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 22px;
  margin: 0 auto;
}

/* Story area */
#story {
  background: #313941;
}

#story a {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 18pt;
  color: #9b9b9b;
}

#story a:hover {
    color: white;
    transition: color 0.15s;
}

/* About Page */
.about-container {
  max-width: 1200px;
  margin: auto;

  /* position: absolute;
  width: 100%;
  background-color: #313941;

  display: none; */
}

.about-nav {
  text-align: right;
  padding: 20px;
}

.about-nav a {
  margin: 0;
  color: #9b9b9b;
  text-decoration: none;
}

.about-nav a:hover {
    color: white;
    text-decoration: none;
    transition: color 0.15s;
}

.about-content {
  display: grid;
  grid-template-columns: 60% 1fr;
  justify-items: stretch;
  align-items: start;
}

.about-col {
  padding: 30px;
}

.about-content a {
  color: white;
}
